@{
    ViewData["Title"] = "Home";
}

<div row style="text-align: center; padding-top: 10px">
    <img src="~/images/i.png" />
    <p style="padding-top: 10px">Sorter Services is running ;)</p>
</div>